<div class="container">
        <div class="card-body marginbtn margintopbtn">
            <div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Produits</th>
                            <th>Prix</th>
                            <th>Reference</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of products">
                            <td>{{item.nom}}</td>
                            <td>{{item.prix}}</td>
                            <td>{{item.reference}}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

    </div>
</div>